@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --alpha: 1;
  --alpha-2: 0.8;
  --alpha-3: 0.6;
  --alpha-4: 0.4;
  --alpha-5: 0.2;
  --fontFw: 200;
  --fontFw-1: 300;
  --fontFw-2: 400;
  --fontFw-3: 500;
  --fontFw-4: 700;
  --fontFw-5: 900;
  --max-width-mob-1: 380px;
  --max-width-mob: 480px;
  --max-width-tab: 650px;
  --max-width-desktop: 900px;
  --max-width-desktop: 1440px;
  --major-white: #ffffff;
  --major-black: #000000;
  --button-pad-1: 1em 2em;
  --button-pad-2: 0.5em 1em;
  --button-pad-3: 0.5em 2em;
}

:root {
  --font: 'Source Sans Pro', sans-serif;
  --blue: hsl(214, 82%, 51%);
  --houseful: hsl(356, 69%, 56%);
  --fillings: hsl(37, 97%, 70%);
  --selected: hsl(163, 72%, 41%);
  --Very-dark-Desaturated-blue: hsl(238, 29%, 16%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
  --green-3: #33ff33;
  --green-4: #00ff00;
  --grey-1: #999999;
  --grey-2: #666666;
  --grey-3: #333333;
  --grey-4: #f3f1fe;
  --grey-5: #d1d1d1;
  --white-1: #fafafa;
  --white-2: #f8f9fb;
  --dark-1: #212121;
  --dark-2: #111111;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  line-height: 1.5;
  font-weight: var(--font);
  background-color: var(--dark-2);
  position: relative;
}

h1 {
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: var(--font);
  font-weight: var(--fontW);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Very-dark-Desaturated-blue);
}

header {
  max-width: 480px;
  margin-bottom: 1.2em;
}

header nav {
  padding: 1em;
  width: 100%;
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--white-1);
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
}

header nav .select {
  height: 30px;
  position: relative;
  overflow: hidden;
}

header nav .select select {
  height: 30px;
  padding-right: 2.5em;
  border-radius: 5px;
  border: 1px solid var(--Very-dark-Desaturated-blue);
}

header nav .select button {
  position: absolute;
  background-color: var(--dark-2);
  right: 0px;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  pointer-events: none;
}

main {
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 2em;
}

.legends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.legends h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0.5em;
  font-size: 1rem;
  color: var(--white-1);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.legends h2 span {
  display: inline-block;
  margin-left: 1em;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.legends h2 #available-seats {
  border: 1px solid var(--grey-1);
}

.legends h2 #selected-seats {
  border: 1px solid var(--grey-1);
  background-color: var(--green-3);
}

.legends h2 #occupied-seats {
  border: 1px solid var(--grey-1);
  background-color: var(--grey-5);
}

.seats-container {
  background-color: var(--dark-1);
  max-width: 480px;
  border-radius: 5px;
  width: 100%;
  padding: 2em;
  margin-bottom: 0.5em;
  position: relative;
}

.class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25px)[4];
      grid-template-columns: repeat(4, 25px);
}

.col {
  color: var(--white-2);
  position: absolute;
  left: 0;
}

.col span {
  width: 20px;
  height: 20px;
  font-family: var(--font);
  font-weight: 900;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0.5em;
}

.col .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.screen {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-width: 480px;
}

.screen h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  color: var(--white-2);
  font-family: var(--font);
  font-weight: 400;
}

.seats {
  width: 20px;
  height: 20px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
  margin: 0.5em;
  cursor: pointer;
}

.seats:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.occupied {
  background-color: var(--grey-5);
  pointer-events: none;
}

.selected {
  background-color: var(--green-3);
}

.tickets {
  background-color: var(--white-2);
  width: 100%;
  max-width: 480px;
  height: 250px;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  border-radius: 5px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.tickets h3, .tickets h3 span {
  width: 100%;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.3em;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.95rem;
}

.tickets h3 span {
  font-weight: 400;
}

.tickets button {
  display: inline-block;
  line-height: 1.5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  padding: 0.375em 0.75em;
  font-size: 0.89rem;
  text-transform: capitalize;
  border-radius: 2px;
  letter-spacing: 1px;
  background-color: var(--dark-2);
  color: var(--white-1);
}

.tickets .button-area {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.class-off {
  display: none;
}

.overlay {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.overlay .ticket--booked {
  width: 300px;
  height: 500px;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5px;
  background-color: var(--grey-4);
}

.overlay .ticket--booked section {
  text-transform: capitalize;
  font-size: 0.8rem;
  font-family: var(--font);
  letter-spacing: 1px;
}

.overlay .ticket--booked section h3, .overlay .ticket--booked section .tickets h3 span, .tickets h3 .overlay .ticket--booked section span, .overlay .ticket--booked section span {
  font-weight: 400;
}

.overlay .ticket--booked section h3, .overlay .ticket--booked section .tickets h3 span, .tickets h3 .overlay .ticket--booked section span {
  margin-bottom: 1em;
}

.overlay .ticket--booked section span {
  display: inline-block;
}

.overlay .ticket--booked .img--section {
  width: 100%;
  height: 150px;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .ticket--booked .img--section img {
  border: 1px solid #cdcd;
  height: 150px;
}

.overlay .booking--info {
  border: 1px solid #cdcd;
  padding: 0.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.overlay .total {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  border: 1px solid #cdcd;
  padding: 1em;
  -ms-grid-row-align: center;
      align-self: center;
}

.overlay .total h3, .overlay .total .tickets h3 span, .tickets h3 .overlay .total span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.overlay .total .total--price {
  font-size: 1.5rem;
  font-weight: 700;
}

.visible {
  visibility: visible;
}

@media screen and (min-width: 500px) {
  header {
    max-width: 900px;
  }
  header nav {
    max-width: 900px;
  }
  main {
    max-width: 900px;
  }
}

@media screen and (min-width: 900px) {
  header {
    max-width: 1440px;
  }
  header nav {
    max-width: 1440px;
  }
  main {
    max-width: 1440px;
  }
}
/*# sourceMappingURL=seats.css.map */